@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    overflow-x: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;

}
.icon_head{
    display: inline-flex;
}


li{
    list-style: none;
    display: inline-flex;
    margin-right: 100px;
}
li a{
    color: #323232;
	font-family:'Montserrat';
	position: relative;
	outline: none !important;
	text-transform: uppercase;
	transition: 0.2s;
}
li a::after{
    content: "";
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.2s;
}

li a:hover{
   
	color: #F6A01E;

}
li a:hover::after{
    background-color: #F6A01E;
    width: 100%;
}
nav{
    justify-content: center;
    margin-top: 1%;
}
.intro{
    text-align: center;
    
    
}
.intro h1{
margin-top: 3%;
font-family:'Literata' ;


}
.intro p{
    margin: 3%;
    font-family:'Montserrat';
}
.buttons{
    margin-left: 40%;
    margin-bottom: 4%;
}

.buttons button{
    margin-left:5% ;
    width:80px;
    height:30px;
    
    cursor: pointer;
}
.shop{
    color: white;
    background-color:#F6A01E;
    border-color: #F6A01E;
    box-shadow: none;
}
.explore{
    color: #F6A01E;
    background-color:white ;
    border-color: #F6A01E;
}
.images{
    display: inline-flex;
    position:relative;
    
}
.images img{
    
    width: 631px;

    height:400px;
}
.images button{
    position: absolute;
    width:80px;
    height:30px;
    color: #F6A01E;
    background-color:white ;
    border-color: #F6A01E;
    cursor: pointer;
}
.menbtn{
    top: 50%;
    left: 10%;
  
}
.womenbtn{
  top: 50%;
  left: 60%;
}