@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;

}
.icon_head{
    display: inline-flex;
}


.nav_top li{
    list-style: none;
    display: inline-flex;
    margin-right: 100px;
}
.nav_top li a{
    color: #323232;
	font-family:'Montserrat';
	position: relative;
	outline: none !important;
	text-transform: uppercase;
	transition: 0.2s;
}
.nav_top li a::after{
    content: "";
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.2s;
}

.nav_top li a:hover{
   
	color: #F6A01E;

}
.nav_top li a:hover::after{
    background-color: #F6A01E;
    width: 100%;
}
nav{
    justify-content: center;
    margin-top: 1%;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    background: #F6A01E;
    border-radius:50%;
    padding:3px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
    }
/* --------------------------------Login pop------------------------------ */
#logoutButton{
    display: none;
    font-family:'Montserrat';
    cursor: pointer;
    background-color: transparent;
}
#loginButton{
    font-family:'Montserrat';
    cursor: pointer;
    background-color: transparent;
}
 /* -----login style------------ */
 #SignPopup{
    display: none;
    /* display: fixed; */
    margin: 5%;
    padding: 2%;
    background-image: linear-gradient(#F99F19,#F8C20B);
    width: 25%;
    text-align: center;
    font-family:'Montserrat';
 }

 #SignPopup button{
    width: 80px;
    height: 40px;
    margin-top: 5%;
    color: #F6A01E;
    font-weight: bold;
    font-style: italic;
    font-family:'Montserrat';
 }
 #SignPopup button:hover{
    background-color: #F6A01E;
    color: white;
 }
#LoginPopup{
    display: none; 
    /* display: flex; */
    margin: 5%;
    padding: 2%;
    background-image: linear-gradient(#F99F19,#F8C20B);
    width: 25%;
    text-align: center;
    font-family:'Montserrat';
}

/* -----Register----- */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* vertical scrolling  overflows */
    border-radius: 10px; 
}

/* Style for the background blur */
body.blur {
    overflow: hidden; 
}

body.blur::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*  opacity  */
    backdrop-filter: blur(5px); /
    z-index: 9999;
}
.popup input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .popup input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.popup input[type=submit] {
    width: 100%;
    background-color: #6B8E23;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }
  .popup input[type=button] {
    width: 100%;
    background-color: #F6A01E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup input[type=submit]:hover {
    background-color: #45a049;
  }
  .popup input[type=button]:hover {
    background-color: red;
  }
  
  /* .popup {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

/* ---------------------------------Hero Section--------------------------------- */
.intro{
    text-align: center; 
}
.intro h1{
margin-top: 3%;
font-family:'Literata' ;


}
.intro p{
    margin: 3%;
    font-family:'Montserrat';
}
.buttons{
    margin-left: 40%;
    margin-bottom: 4%;
}

.buttons button{
    margin-left:5% ;
    width:80px;
    height:30px;
    
    cursor: pointer;
}
.shop{
    color: white;
    background-color:#F6A01E;
    border-color: #F6A01E;
    box-shadow: none;
}
.explore{
    color: #F6A01E;
    background-color:white ;
    border-color: #F6A01E;
}
.images{
    display: inline-flex;
    position:relative;
    
}
.images img{
    
    width: 631px;

    height:400px;
}
button{
    border: none;
}
.images button{
    position: absolute;
    width:80px;
    height:30px;
    color: #F6A01E;
    background-color:white ;
    border-color: #F6A01E;
   
    cursor: pointer;
}
.menbtn{
    top: 50%;
    left: 10%;
  
}
.womenbtn{
  top: 50%;
  left: 60%;
}

.subscribe{
    background-color:#D9D1C5 ;
    display: flex;
    justify-content: space-around;
    padding: 3%;
    height: 30px;
    
    font-family:'Literata';
}
.subscribe p{
    color: #F6A01E;
}

.subscribe button{

    width:100px;
    height:40px;
    color: white;
    background-color:#F9B71B ;
    border-color: #F9B71B;
    cursor: pointer;
}
.new_arrival{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.new_arrival h1{
    font-family:'Literata';
}
.new_arrival p{
    font-family:'Montserrat';
    margin: 3%;
}
.image_new{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  grid-auto-rows: minmax(100px, auto);
}

.dress{
    grid-column: 1;
    
    position: relative;
}

.twophoto{
    grid-column: 2;
    
}
.jean{
    grid-column: 3;
}
.price_new{
    position: absolute;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    backdrop-filter: blur(20px);
    width: 70%;
    top: 60%;
    left: 30%;
    font-size: large;
    color: white;
}
.price_name{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: x-large;
}
.det{
    font-style: italic;
}
.button_new{
    background-color: #F6A01E;
    grid-column:3/4 ;
    text-align: center;
    padding: 10%;
}

.title{
    display: flex;
    justify-content: center;
   
}

.TopProduct h1{
    font-family:'Literata';
}
.TopProduct h3{
    font-family:'Montserrat';
    margin-top: 3%;
    text-align: center;
}
.nav a{
    text-decoration: none;
    color: gray;
    font-family:'Montserrat';
    display: inline-flex;
    margin-left: 3%;
}
.nav a:hover{
    color: #F6A01E;
    font-weight: bold;
  }
.nav a:focus{
  color: #F6A01E;
  font-weight: bolder;
  font-style: italic;
}

/* ---------------------Footer--------------------- */
.footer_subscribe{
    background: #D9D1C5;
    padding: 5%;
    text-align: center;
}
.container_subscribe{
    font-family:'Literata' ;
}
.container_subscribe h1,h3,p{
    padding: 1%;
}
.subscribe_Form{
    background: white;
    margin-left: 40%;
    width: 22%;
    height: 200%;
}
.subscribe_Form input{
    font-family:'Montserrat';
    border: none;
}
.subscribe_Form button{
    font-family:'Montserrat';
    width:80px;
    height:30px;
    color: white;
    background-color:#F6A01E;
    cursor: pointer;
}

.info_footer{
    background-image: linear-gradient(#F99F19,#F8C20B);
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    font-family:'Montserrat';
    line-height: 1.6;
    padding: 3%;
}

.info_footer li{
    display: flex;
    
}
.info_footer li a{
    color: white;
    font-family:'Montserrat';  
}



/* ----------------Page products----------------- */
.productList {
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px; 
    justify-content: center; 
    align-items: start; 
}
.btn-div{
    background-color: #F6A01E;
    grid-column:3/4 ;
    text-align: center;
    padding: 10%;

}

.btn-gnd {
    border: none;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}

.gender :nth-child(1) {
    color: #F6A01E;
}

.gender {
    display: flex;
    gap: 14px;
    margin: 5px;
}

.btn-div button{
    border: none;
    font-family:'Montserrat';  
    background-color: #F6A01E;
    color: white;
}
.productList img {
    max-width: 100%;
    height: 200px; /* Adjust the height as needed */
}
.children-division {
    background-color: antiquewhite;
    border-radius: 12px;
}

.product-image {
    width: 200px; 
    height: auto; 
}

.cloths{
    margin: 20%;
}

.search_div {
    display: flex;
    margin-left: 30px;
    gap: 10px;
}


.user-preference-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* margin: 3%; */
    

    
}
/* -----------cart page---------- */

.CartList{
    /* width: 100%; */
    margin: 5%;
}
.CartList th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px; /* Add padding for better readability */
    width: 100%;
  }
